@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
h1 {
  font-weight: 700;
}

p,
a {
  font-size: $default-font-size;
}

a {
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease-in-out;
}

.section-title {
  margin-bottom: 4.5rem;
  font-size: $big-font-size;
  text-transform: uppercase;
  @include respond(phone) {
    font-size: 2.8rem;
  }
}

.dark-blue-color {
  color: $dark-blue-text;
}

.text-color-main {
    margin: 0;
    background-image: none;
    -webkit-text-fill-color: #D76D77;
    box-shadow: none;
  }

